header {
  text-align: center;
  background: #283b63;
  padding: 1%;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

#welcome {
  height: 1200px;
  background-image: url("assets/pexels-josiah-lewis-772689.jpg");
  background-size: cover;
  color: white;
  padding-top: 50px;
}

h1 {
  font-size: 40px;
}

ul {
  display: flex;
  justify-content: space-around;
}

ul li {
  list-style: none;
}

ul li a {
  color: white;
  text-decoration: none;
}
